
#root {
    --main-text-color: #303030;
    --secondary-text-color: #555555;
    --addition-text-color: #9DA4BD;
    --link-hover-color: #FF6C00;
    --main-font: 'Raleway', 'Open Sans', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
    
}

body {
    font-family: var(--main-font);
    width: 1280px;
    margin: 0 auto;
}

/* default styles*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}


a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 5%;
    color: #FFF;
}

h2 {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 5%;
    color: var(--secondary-text-color);
}

h3 {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2%;
    color: var(--secondary-text-color);
}

p {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2%;
}

span {
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 10%;
    color: var(--main-text-color)
}

button {
    width: 160px;
    height: 40px;
    border: solid 1px #FF6C00;
    border-radius: 25px;
    color: inherit
}

.button-nav {
    width: 160px;
    height: 40px;
    border: solid 1px #FF6C00;
    border-radius: 25px;
    color: #FFFF;
    background-color: transparent;
    text-transform: uppercase;
}

.title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #303030;
    padding-top: 20px;
    padding-bottom: 44px;
}

.title-white {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #FFF;
    padding-top: 20px;
    padding-bottom: 44px;
}

.subtitle {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.01;
    text-transform:uppercase;
    padding-left: 20px;
    color:#303030;
}

.subtitle-icon {
    fill:#303030;
}

.subtitle-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.container {
    width: 1280px;
    margin: 0 auto;
    padding: 130px 55px;
}


.nav-links {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.nav-links:hover,
.nav-links:focus {
    cursor: pointer;
    color: var(--link-hover-color);
}

.nav-bar:hover,
.nav-bar:focus {
    cursor: pointer;
    color: var(--link-hover-color);
    font-style: bold;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 54px;
    padding-top: 40px;
}

.contact-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}


.social-links {
    gap: 40px;
    transform: rotate(-90deg);
}



/* Footer Section */

.footer {
    background-color: #F7F7F7;
    height: 127px;
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding: 56px 55px;
}

.copyright {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.footer-icon {
    fill: #9DA4BD;
}

.social-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    color:#9DA4BD;
    gap: 40px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.02em;
    
}

/* Booking */

.booking-section h2 {
    color: #FFF;
    font-family: 'raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.05em;
    padding-bottom: 44px;
}

input {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #9DA4BD40;
    padding: 5px;
    color: #9DA4BD40;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.02em;
    outline: none;
}

label {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);


}
input::placeholder{
    color: #9DA4BD40;
}

.input-details {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.input-group {
    padding-bottom: 44px;
    display: flex;
    flex-direction: column;
}

#name {
    height: 24px;
    width: 270px;
}

#telephone {
    height: 24px;
    width: 260px;
}

#message {
    width: 560px;
}

/* Contacts */
.contact-booking {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 644px;
    background-color: #191C26;
}

.contact-section {
    padding-left: 100px;;
}


.contact {
    margin: 0 56px;
    color: #FFF;
    font-family: 'raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.05em;
    padding-bottom: 44px;
}

#contact {
    position: relative;
    overflow: hidden;
}

#contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-image: url("../Images/contactsBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

#contact * {
    position: relative;
    z-index: 1;
}


.contact-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding-bottom: 20px;
}

.contact-row span {
    font-family: "open sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}


.latin-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding-top: 44px;
}

.image-details {
    width: 270px;
    height: 360px;
}

.schedule-icon {
    fill: #9DA4BD66;
}

.schedule-title {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.01;
    text-transform:uppercase;
    padding-left: 20px;
    color:#FFF;
}

.schedule-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}

.schedule-time span{
    font-family: "open sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}
/* Our Barbers */
.our-barbers-section {
    background-color: #F7F7F7;
}

.our-barbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.icons-team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 0;
    margin-left: 0;
}

.icon-svg {
    width: 44px;
    height: 44px;
    gap: 10px;
    fill:#303030;
    background-color: #FFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card {
    height: 502px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 370px;
    height: 346px;
}

.card h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    padding-top: 30px;
}

.card h5 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FF6C00;
    padding-top: 8px;
    padding-bottom: 30px;
}

/* Old School Section */

.info-text {
    font-family: "open sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #555555;
}
/* Services */
.services {
    position: relative;
    background-color: #111319;
    overflow: hidden;
    color: #FFF;
}

.services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Images/img.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.services * {
    position: relative;
    z-index: 1;
}

.subtitle2,
.subtitle-icon2 {
    color: rgba(157, 164, 189, 0.6);
    fill: rgba(157, 164, 189, 0.6);
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.01;
    text-transform:uppercase;
    padding-left: 20px;
}

.prices {
    display: flex;
    flex-direction: row;
}

.prices-list {
    padding: 30px 40px;
    font-family: var(--text-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: rgba(157, 164, 189, 1);
    list-style: none;
    flex-grow: 1;
    background-image: linear-gradient(rgba(23, 26, 36, 1), rgba(23, 26, 36, 0.2));
    transition: background-image 3s;
}

.prices-list:hover {
    background-image: linear-gradient(rgba(9, 11, 19, 1), rgba(9, 11, 19, 0.2));
    cursor: pointer;
}

.prices-list li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.prices-list li:not(:last-child) {
    margin-bottom: 20px;
}

.prices-list li .price-dash {
    flex: 1 0 auto;
    height: 1px;
    background: rgba(157, 164, 189, 0.12);
}

.prices-list li .prices-dash {
    margin-left: 6px;
    margin-right: 6px;
}

.prices-list span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/* About Section */
.about-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64px;
}
.images-about {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us-img {
    width: 270px;
    height: 445px;
}

.about-us h3 {
    font-family: 'open sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #555555;
    padding-bottom: 20px;
}

.about-us p {
    font-family: 'open sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #555555;
    padding-bottom: 40px;
}

/* Old school section */

.old-school {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 130px;
}

.old-schools-rating {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.left-side-container,
.right-side-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.rating-box {
    width: 170px;
    height: 133px;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating-value {
    display: flex;
    justify-content: center;
    align-items: center;

}

.rating-number {
    font-family: "open sans";
    font-weight: 700;
    font-size: 42px;
    line-height: 57px;
    letter-spacing: 0.05em;
    text-align: center;

}

sup {
    color: #FF6C00;
    font-family: "open sans";
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0em;
}
sup {
    top: -.5em;
    position: relative;
    vertical-align: baseline;
}


/* Navigation and hero section */

header {
    display: flex;
    flex-direction: row;
    width: 1280px;
    height: 680px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 155px;
    max-height: 680px;
    margin: auto;
}

.logo-container {
    position: absolute;
    top: 32px;
    display: flex;
    align-items: center;
}


.logo {
    display: flex;
    align-items: center;
}

.social {
    position:absolute;
    top: 470px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 40px;
    transform: rotate(-90deg);
}

.normal-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navigation ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.header-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../Images/Slider-img-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1125px;
    height: 680px;
    padding: 40px 55px;
}

.header-text {
    display: flex;
    flex-direction: column;
}



.nav-container {
    font-family: "open sans";
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #FFF;
}

/* Hover & effect styles */

.button:hover,
.button-nav:hover  {
    background-color: #ff6c00;
    color: #fff;
    border: 1px solid #ff6c00;
    transition: 0.3s;
}

.main-navigation ul li:hover {
    color: #ff6c00;
}

.icon-svg:hover {
    fill: #ff6c00;
    transition: 0.3s;
}

a:hover{
    cursor: pointer;
    color: #ff6c00;
    transition: 0.3s;
}

.logo:hover{
    fill: #ff6c00;
    cursor: pointer;
    transition: 0.3s;

}

.input-details:hover {
    cursor: pointer;
    color: #FFF;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

input:hover,
input:focus {
    border-bottom: 1px solid #fff;
}

input::placeholder {
    color: transparent; 
}

input:focus::placeholder {
    color: #aaa; 
}


.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group:hover label,
.input-group input:focus + label {
    color: #fff; 
    transition: 0.3s;
}

.input-group:hover input,
.input-group input:focus {
    border-bottom: 2px solid #fff;
    transition: 0.3s;
}

input::placeholder {
    color: transparent;
}

input:focus::placeholder {
    color: #aaa;
}
