@font-face {
    font-family: 'Open Sans';
    src: url('/path-to-your-local-fonts/OpenSans-Regular.woff2') format('woff2'),
         url('/path-to-your-local-fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('/path-to-your-local-fonts/Raleway-Regular.woff2') format('woff2'),
         url('/path-to-your-local-fonts/Raleway-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#root {
    --main-text-color: #303030;
    --secondary-text-color: #555555;
    --addition-text-color: #9DA4BD;
    --link-hover-color: #FF6C00;
    --main-font: 'Raleway', 'Open Sans', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
    
}

body {
    font-family: var(--main-font);
    width: 1280px;
    margin: 0 auto;
}

/* default styles*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}


a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 5%;
    color: #FFF;
}

h2 {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 5%;
    color: var(--secondary-text-color);
}

h3 {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2%;
    color: var(--secondary-text-color);
}

p {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2%;
}

span {
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 10%;
    color: var(--main-text-color)
}

button {
    width: 160px;
    height: 40px;
    border: solid 1px #FF6C00;
    border-radius: 25px;
    color: inherit
}
.title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #303030;
    padding-top: 20px;
    padding-bottom: 44px;
}

.title-white {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.05em;
    color: #FFF;
    padding-top: 20px;
    padding-bottom: 44px;
}

.subtitle {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.01;
    text-transform:uppercase;
    padding-left: 20px;
    color:#303030;
}

.subtitle-icon {
    fill:#303030;
}

.subtitle-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.container {
    width: 1280px;
    margin: 0 auto;
    padding: 130px 55px;
}


.nav-links {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.nav-links:hover,
.nav-links:focus {
    cursor: pointer;
    color: var(--link-hover-color);
}

.nav-bar:hover,
.nav-bar:focus {
    cursor: pointer;
    color: var(--link-hover-color);
    font-style: bold;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 54px;
    padding-top: 40px;
}

.contact-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.social {
    width: 155px;
    height: 680px;
    background-color: tomato;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.social-links {
    gap: 40px;
    transform: rotate(-90deg);
}



/* Footer Section */

.footer {
    background-color: #F7F7F7;
    height: 127px;
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding: 56px 55px;
}

.copyright {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}



.social-section {
    display: flex;
    flex-direction: row;
    color:#9DA4BD;
    gap: 40px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.02em;
    
}

/* Booking */


.booking-section {
    margin: 0 56px;
}

.booking-section h2 {
    color: #FFF;
    font-family: 'raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.05em;
    padding-bottom: 44px;
    
}

input, textarea {
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #9DA4BD40;
    padding: 5px;
    color: #9DA4BD40;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.02em;
    outline: none;
}
input::placeholder, textarea::placeholder {
    color: #9DA4BD40;
}

input:focus::placeholder, textarea:focus::placeholder {
    color: #FFFFFF;
    border-bottom: #FFFFFF;
}

input:hover::placeholder, textarea:hover::placeholder {
    color: #FFFFFF;
    border-bottom: #FFFFFF;
}


.input-details {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.input-group {
    padding-bottom: 44px;
}

#name {
    height: 24px;
    width: 270px;
}

#telephone {
    height: 24px;
    width: 270px;
}

#message {
    width: 560px;
    height: 76px;
}

/* Contacts */
.contact-booking {
    display: flex;
    flex-direction: row;
    height: 644px;
    width: 100%; 
    background-color: #191C26;
}


.contact {
    margin: 0 56px;
    color: #FFF;
    font-family: 'raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.05em;
    padding-bottom: 44px;
}

/* .contact-bg {
    background-image: url("./Images/contactsBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 625px;
    height: 644px;
    opacity: 50%;

} */


/* Latin Section */

.latin-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding-top: 44px;
}

.image-details {
    width: 270px;
    height: 360px;
}

.logo-icon {
    color: #FF6C00;

}

/* Our Barbers */
.our-barbers-section {
    background-color: #F7F7F7;
}

.our-barbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.icons-team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 0;
    margin-left: 0;
}

.icon-svg {
    width: 44px;
    height: 44px;
    gap: 10px;
    fill:#303030;
    background-color: #FFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card {
    height: 502px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 370px;
    height: 346px;
}

.card h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    padding-top: 30px;
}

.card h5 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FF6C00;
    padding-top: 8px;
    padding-bottom: 30px;
}

/* Old School Section */

.info-text {
    font-family: "open sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #555555;
}
/* Services */
.services {
    position: relative;
    background-color: #111319;
    overflow: hidden;
    color: #FFF;
}

.services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./Images//img.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.services * {
    position: relative;
    z-index: 1;
}

.subtitle2,
.subtitle-services-icon {
    color: rgba(157, 164, 189, 0.6);
    fill: rgba(157, 164, 189, 0.6);
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.01;
    text-transform:uppercase;
    padding-left: 20px;
}

.prices {
    display: flex;
    flex-direction: row;
}

.prices-list {
    padding: 30px 40px;
    font-family: var(--text-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: rgba(157, 164, 189, 1);
    list-style: none;
    flex-grow: 1;
    background-image: linear-gradient(rgba(23, 26, 36, 1), rgba(23, 26, 36, 0.2));
    transition: background-image 3s;
}

.prices-list:hover {
    background-image: linear-gradient(rgba(9, 11, 19, 1), rgba(9, 11, 19, 0.2));
    cursor: pointer;
}

.prices-list li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.prices-list li:not(:last-child) {
    margin-bottom: 20px;
}

.prices-list li .price-dash {
    flex: 1 0 auto;
    height: 1px;
    background: rgba(157, 164, 189, 0.12);
}

.prices-list li .prices-dash {
    margin-left: 6px;
    margin-right: 6px;
}

.prices-list span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/* About Section */
.about-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64px;
}
.images-about {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us-img {
    width: 270px;
    height: 445px;
}

.about-us h3 {
    font-family: 'open sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #555555;
    padding-bottom: 20px;
}

.about-us p {
    font-family: 'open sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #555555;
    padding-bottom: 40px;
}